body {
    font-family: 'Georgia', serif;
    background-color: #88d09e;
    color: #3d3d3d;
    margin: 0;
    padding: 20px;
    display: block;
    flex-direction: column;
    align-items: center;
}

#encabezado {
    text-align: center;
    margin-bottom: 40px;
}

#encabezado h1 {
    color: #c0392b;
    font-size: 48px;
}

#subtitulo {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color:#c0392b

}

#visualizacion {
    width: 50%;
    height: auto;
    display: flex;
    margin: auto;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#narrativa {
    text-align: center;
    font-size: 1.1em;
    line-height: 1.6;
}

.leaf {
    position: fixed;
    top: -50px;
    width: 40px;
    height: 40px;
    background-image: url("https://png.pngtree.com/png-vector/20230313/ourmid/pngtree-cartoon-leaf-illustration-vector-png-image_6644591.png");
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    animation: fall 6s linear infinite;
    z-index: -1;
}

@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    100% {
        transform: translateY(110vh) rotate(360deg);
    }
}

#personajes {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;               
    margin-top: 0px;
}

.perfiles {
    width: 300px;
    height: auto;
    object-fit: contain; 
    border-radius: 50px;
}

.character {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bloque-texto {
    background-color: #c0392b;
    color: white;
    padding: 15px;
    width: 100%;
    max-width: 400px; 
    margin-top: 15px;
    border-radius: 20px;
    text-align: left;
    font-weight: bold;
}

