body {
    font-family: 'Georgia', serif;
    background-color: #88d09e;
    color: #3d3d3d;
    margin: 0;
    padding: 20px;
    display: block;
    flex-direction: column;
    align-items: center;
}

#encabezado {
    text-align: center;
    margin-bottom: 40px;
}

#encabezado h1 {
    color: #c0392b;
}

#subtitulo {
    font-size: 24px;   /* tamaño de la letra */
    font-weight: bold; /* negrita */
    text-align: center;
    color:#c0392b

}

#personajes {
    display: flex;
    justify-content: center; /* centra horizontalmente */
    gap: 20px;               /* separación entre fotos */
    margin-top: 20px;
}

#perfiles {
    width: 30%;   /* ajusta el tamaño como quieras */
    max-width: 300px;
    border-radius: 10px; /* opcional: bordes redondeados */
}


#visualizacion {
    width: 50%;
    height: auto;
    display: flex;
    margin: auto;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#narrativa {
    text-align: center;
    font-size: 1.1em;
    line-height: 1.6;
}

.leaf {
    position: fixed;
    top: -50px;
    width: 40px;
    height: 40px;
    background-image: url("https://png.pngtree.com/png-vector/20230313/ourmid/pngtree-cartoon-leaf-illustration-vector-png-image_6644591.png");
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    animation: fall 6s linear infinite;
    z-index: -1;
}

@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    100% {
        transform: translateY(110vh) rotate(360deg);
    }
}
